 @font-face {
    font-family: Bebas; 
    src: url(../fonts/BebasNeue-Regular.otf); 
 }

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	color: white;
	text-decoration: none;
}

@import "partials/variables.scss";
@import "partials/fluid-grid-12.scss";
@import "partials/header.scss";
@import "partials/menu.scss";
@import "partials/portfolio.scss";
@import "partials/news.scss";
@import "partials/bio.scss";
@import "partials/contact.scss";